.App {
  height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.leaflet-container {
  height: 600px;
  width: 100%;
}

a {
  text-decoration: none;
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-marker {
  animation: rotate 2s linear infinite;
} */
